* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    background-color: blanchedalmond;
}

.title_recipe {
    font-weight: bolder;
    margin: auto;
    text-align: center;
}

img,
a,
p {
    margin: auto;
    font-size: small;
    text-align: center;
}

img {
    display: block;
}

#grp h2 {
    font-size: 25px;
    text-align: center;
}

#grp p {
    text-align: left;
    font-size: medium;
    font-weight: bold;
}

#grp ul {
    margin-left: 30px;
}