* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    background-color: blanchedalmond;
}

.title_recipe {
    font-weight: bold;
    margin: auto;
    text-align: center;
}
img,
a,
p {
    margin: auto;
    font-size: small;
    text-align: center;
}

img {
    display: block;
}

#grp h2 {
    font-size: 25px;
}